.explore{
	color:white;
	font-size:25px;
	margin:-80px 30px 0px 1230px
}

.pexel{
	margin-left:35px
}
.license{
	color:white;
	font-size:25px;
	margin:-30px 30px 0px 1350px
}
.pexel1{
	color:white;
	font-size:25px;
	margin:-25px 30px 0px 110px
}
.best{
	color:white;
	font-size:40px;
	margin:100px 30px 0px 460px;
	text-shadow:10px 10px 10px;

}
.shared{
	color:white;
	font-size:40px;
	margin:10px 30px 0px 460px;
	text-shadow:10px 10px 10px;
}
.searchbar{
	margin:5px 0px 0px 460px;
	height:55px;
	width:650px
}
.trending{
	color:white;
	font-size:20px;
	margin:10px 30px 0px 460px
}
.casse{
	color:white;
	font-size:20px;
	margin:100px 30px 0px 1290px
}
.home{
	font-size:25px;
	margin:0% 0% 3% 35%;

}
.video{
	font-size:25px;
	margin:0px 0px 0px 20px
}
.leaderboard{
	font-size:25px;
	margin:0px 0px 0px 20px
}
.challenges{
	font-size:25px;
	margin:0px 0px 0px 20px
}
.seconddiv{
	background-color:white;
	height:25px;
	width:1520px;
}
.free{
	font-size:25px;
	margin:100px 0px 0px 0px
}
.tren{
	font-size:25px;
	margin:0px 0px 0px 1150px
	
}
.image1{
	height:500px;
	width:500px;
	margin:30px 0px 0px 0px;
}
.image2{
	height:500px;
	width:500px;
	margin:10% 0px 0px 0px ;

}
.image3{
	height:300px;
	width:400px;
	margin:10% 0px 0px 0px
}
.image4{
	height:550px;
	width:400px;
	margin:-106% 0px 0px 550px
}
.image8{
	height:300px;
	width:400px;
	margin:10% 0px 0px 550px
}
.image5{
	height:500px;
	width:400px;
	margin:-66% 0px 0px 1050px
}
.image7{
	height:500px;
	width:400px;
	margin:35% 0px 0px 37%
}
.image6{
	height:500px;
	width:400px;
	margin:-43% 0px 0px 70%
}
.pexel2{
	height:600px;
	width:500px;
	box-shadow:10px 0px 10px #2aa3a3;
	box-shadow:0px 20px 0px #2aa3a3;
	box-shadow:-10px 7px 10px #2aa3a3;
}
.pexel3{
	height:600px;
	width:500px;
	box-shadow:0px 20px 0px #2aa3a3 ;
	box-shadow:0px 20px 0px #2aa3a3 ;
	box-shadow:-15px 7px 10px #2aa3a3 ;
}
.pexel4{
	height:300px;
	width:500px;
	box-shadow:10px 5px 15px #2aa3a3;
	box-shadow:0px 20px 0px #2aa3a3 ;
	box-shadow:-15px 7px 10px #2aa3a3 ;
}
.pexel5{
	height:650px;
	width:450px;
	box-shadow:0px 5px 60px #2aa3a3;
}
.pexel6{
	height:300px;
	width:450px;
	box-shadow:0px 5px 30px #2aa3a3;
}
.pexel7{
	height:800px;
	width:450px;
	box-shadow:15px 8px 10px #2aa3a3;
}
.pexel8{
	height:600px;
	width:450px;
	box-shadow:10px 5px 30px #2aa3a3 ;
}
.pexel9{
	height:600px;
	width:450px;
	box-shadow:10px 8px 15px #2aa3a3;
	
}

	